.box-form{
	padding: 4rem 3.8rem;
	margin: 0 -3rem;
	background: rgb(178, 204, 178);
	border-radius: 15px;
	box-shadow: 1px 1px 6px #AEF2E3, -1px 1px 6px #AEF2E3, -1px -1px 6px #AEF2E3, 1px -1px 6px #AEF2E3;
}

.box-form h3{
	margin-top: -2rem;
}
input[type=checkbox]{
	width: 1rem;
	height: 1rem;
	cursor: pointer;
}
