.box-form{
	position: relative;
	z-index: 1;
	padding: 3rem 3.5rem;
	margin: 0 2rem;
	box-sizing: border-box;
	background: #fff;

	border-radius: 10px;
	box-shadow: 1px 1px 6px #222222, -1px 1px 6px #222222, -1px -1px 6px #222222, 1px -1px 6px #222222;
	
}

.box-form h3{
	margin-top: -2rem;
	color: #000;

	text-decoration: underline;
	padding-bottom: 0.3rem;
}


.check{
	color: #000; !important;

}

label{
	color: #fff;
}

input[type=checkbox]{
	width: 1rem;
	height: 1rem;
	cursor: pointer;
}


.login-input{
	outline: 0 !important;
	background-color: transparent !important;
	color: #000 !important;

    border: none !important;
	border-bottom: 1px solid #000 !important;
	border-radius: 0;
	position: relative;
}

.login-input:focus{
	outline: 0 !important;
	box-shadow: none;
	
}

.login-input:active{
	outline: 0 !important;
}

.box-get-started{
	background-image: url("../images/bg-connexion.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
	margin-top: 1%;
}

.site-name{
	text-align: center;
	color: #fff;
	font-size:2.2rem;
	text-shadow: 5px 0px 5px rgba(34, 34, 34, 1);
}
.phrase-site-name{
	color: #fff;
	font-size:1.6rem;
	text-shadow: 5px 0px 5px rgba(34, 34, 34, 1);
}

.text-shadow-white{
	text-shadow: 2px 1px 6px #222, -2px 1px 6px #222, -2px -1px 6px #222, 2px -1px 6px #222;
}
#eye-off{
	position: absolute;
	right: 0;
	top: 41%;
	padding-right: 4.5rem;
	margin: 3px;
	color: #000;
	text-shadow: 2px 1px 6px #eee, -2px 1px 6px #eee, -2px -1px 6px #eee, 2px -1px 6px #eee;
	font-size: 1.55rem;
	cursor: pointer;
	transition: all 1s linear;
}

.modal-backdrop.show{
	position: relative;
}
span.icon-help{
	border: 1px solid #000;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	padding: .2rem;
}

a.link-mp{

}

